<app-breadcrumb [breads]="breads" [current]="currentBread"></app-breadcrumb>
<div class="pt-2 mx-5 my-2 flex justify-between items-center">
  <div class="font-bold text-xl">
    {{ currentBread }}
  </div>
</div>
<div
  class="block bg-white border border-gray-200 rounded-lg shadow m-5 md:w-2/3 w-full"
>
  <div class="p-4" *ngIf="!isLoading">
    <app-input-text
      [label]="'اسم العنصر'"
      [placeholder]="'ادخل اسم العنصر'"
      [key]="url"
      [control]="textFormControl"
      [isSubmitted]="isSubmitting"
    ></app-input-text>
  </div>
  <div
    *ngIf="!isLoading"
    class="block bg-[#EFF6FF] w-full border border-gray-200 rounded-lg rounded-b-none"
  >
    <div class="flex w-full justify-start p-4 items-center">
      <app-button
        [meta]="{
          label: 'حفظ ومتابعة',
          textColor:
            !isSubmitValid || isSubmitting ? 'text-[#D4D4D8]' : 'text-white',
          bgColor: !isSubmitValid || isSubmitting ? 'bg-[#F4F4F5]' : 'bg-black'
        }"
        (onClick)="onSubmit()"
      ></app-button>
    </div>
  </div>

  <div class="m-3" *ngIf="isLoading">
    <app-loading-skeleton></app-loading-skeleton>
  </div>
</div>
