<div class="block pt-10 bg-white border border-gray-200 rounded-lg shadow m-5">
  <div class="flex justify-start items-center h-3 mt-3 mb-7 px-6">
    <app-dropdown *ngIf="dropdownOptions && meta.dropdown" [placeholder]="meta.dropdown.placeholder"
      [label]="meta.dropdown.label" [options]="dropdownOptions" [class]="meta.dropdown.class"
      [currentOption]="currentDropdownOption" (onSelect)="onOptionSelect($event, 'main-dropdown')"></app-dropdown>
    <div class="mx-2">
      <app-search [placeholder]="'بحث'" [searchValue]="searchValue" (onSearch)="onSearch($event)"></app-search>
    </div>
    <div class="mx-2">
      <app-filter [fields]="meta.filter.fields" [conditions]="meta.filter.conditions"
        (onSelect)="addFilter($event)"></app-filter>
    </div>
    <div class="flex-1"></div>
    <div class="mx-2" *ngIf="meta.mainAction">
      <app-button [meta]="meta.mainAction" (onClick)="processCreateAction.emit()"></app-button>
    </div>
  </div>
  <div class="my-5 py-3 px-6">
    <app-filters-bar [filters]="currentFilters" (onRemoveFilter)="onRemoveFilter($event)"></app-filters-bar>
  </div>
  <div class="mt-5">
    <div class="block p-10 bg-white border border-gray-200 rounded-lg shadow m-5" *ngIf="isLoading">
      <app-loading-skeleton></app-loading-skeleton>
    </div>
    <app-table *ngIf="!isLoading" [table]="meta.table" [data]="listData.items" (onSelectItems)="onItemsSelected($event)"
      (onSort)="onSort($event)" [sortBy]="sort"></app-table>
    <app-pagination [pagination]="listData.pagination" (onPageChange)="onPageChange($event)"
      *ngIf="!isLoading"></app-pagination>
  </div>
</div>