<label class="relative mb-4 text-sm font-medium text-gray-900 p-2">
  {{ label }}
  <span
    class="absolute top-1 left-0 text-red-500"
    [ngClass]="{
    'hidden': !control.hasError('required'),
  }"
    aria-hidden="true"
    >*</span
  >
</label>

<div class="relative mt-2">
  <div
    id="dropdownDefaultButton"
    data-dropdown-toggle="dropdown"
    [class]="class"
    type="button"
    (click)="toggle()"
  >
    {{ currentOption?.text ?? placeholder }}
    <img
      src="assets/images/sort-neutral.svg"
      alt="select icon"
      class="w-4 h-4"
    />
  </div>

  <!-- Dropdown menu -->
  <div
    id="dropdown"
    class="z-50 bg-white divide-y divide-gray-100 rounded-lg shadow absolute top-[40px] start-0 mt-2 w-full"
    [ngClass]="{ hidden: !isOpen }"
  >
    <ul
      class="py-2 text-sm text-gray-700"
      aria-labelledby="dropdownDefaultButton"
    >
      <li *ngFor="let option of options">
        <span
          class="block px-4 py-2 hover:bg-gray-100"
          (click)="onOptionSelect(option)"
          >{{ option.text }}</span
        >
      </li>
    </ul>
  </div>
</div>

<!-- Dropdown classes of tailwind -->
<div
  class="hidden text-black bg-gray-50 w-full cursor-pointer focus:ring-2 h-10 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 text-center inline-flex items-center border-2 border-gray-300"
></div>
<div
  class="hidden my-2 text-black cursor-pointer h-7 rounded-lg text-sm px-5 py-2 text-center flex justify-between items-center items-center border-2 border-gray-600 w-36"
></div>
