<div class="flex my-4">
  <input
    type="text"
    id="cm-input"
    class="rounded-none rounded-s-lg bg-white border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5"
    [placeholder]="placeholder"
    [formControl]="control"
    [ngClass]="{
    'border-red-300': control.errors && (control.touched || isSubmitted),
    'border-green-500': !control.errors && (control.touched || isSubmitted),
  }"
  />
  <span
    class="inline-flex items-center px-3 text-sm text-gray-900 bg-white border rounded-s-0 border-gray-300 border-s-0 rounded-e-md"
  >
    {{unit}}
  </span>
</div>
<div
  class="italic text-red-500 text-xs ps-2 py-2"
  *ngIf="errorMessage && control.errors && (control.touched || isSubmitted)"
>
  {{ errorMessage }}
</div>
