@import 'ckeditor5/ckeditor5.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "cascadia-code";
  src: url("assets/fonts/Rubik.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "cascadia-code";
  background-color: #f9fafb;
  overflow-y: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
